<h1>Most recent pictures</h1>

<%= link_to "New Picture", picture_path(:new) %>

<ul>
	<% @most_recent_pictures.each do |picture| %>
		<li><%= picture.title %> , <%= picture.artist %></li>
		<%= link_to image_tag(picture.url), picture_path(:picture_id) %>
		<li><%= link_to "Edit", edit_picture_path(picture) %> <%= link_to "Delete", picture, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"} %></li>
	<% end %>
</ul>

<h3>Pictures posted more than a month ago:</h3>

<ul>
	<% Picture.created_before(1.month.ago).each do |picture| %>
	<li><%= picture.title %></li>
	<% end %>
</ul>

<h3>Total number of pictures posted more than a month ago: <%= Picture.created_before(1.month.ago).count %></h3>
