<%= link_to "Back to Pictures", pictures_url %> | <%= link_to "Edit", edit_picture_path(@picture) %> | <%= link_to "Delete", @picture, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}	%>


<p><%= @picture.title %>, <%= @picture.artist %></p>
<img src="<%= @picture.url %>">
